.container2{
	margin: 0 auto;
	width: 90%;
	border-bottom: 1px solid #989898;
}
.container{
	margin-top: 30px;
}
h1,h2{
 font-size: 25px;
 font-weight: 700;
 color: skyblue;
 text-align: center;
}